#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  border: 1px solid black;
  display: flex;
}
body{
  border: 1px solid blue;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
#change{
  margin-left: 50%;
  margin-top: 20px;
}
.carousel{
  height: 150px;
  width: 200px;
  margin: auto 0;
  animation-fill-mode: forwards !important;
}
.active{
  width: 360px;
  height: 260px;
}
.before, .after{
  height: 200px;
  width: 300px;
}

@keyframes active-to-after {
  from{
    height: 300px;
    width: 350px;
  }
  to{
    height: 200px;
    width: 300px;
  }
}
@keyframes before-to-active {
  from{
    height: 150px;
    width: 300px;
  }
  to{
    height: 300px;
    width: 350px;
  }
}

@keyframes none-to-before {
  from{
    height: 150px;
    width: 300px;
  }
  to{
    height: 300px;
    width: 350px;
  }
}

@keyframes after-to-none {
  from{
    height: 300px;
    width: 350px;
  }
  none{
    height: 150px;
    width: 300px;
  }
}