#carousel {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 652px;
    margin: auto;
    height: 300px;
    position: relative;
}
.arrow{
    height: 32px;
}
#arrow__left{
    margin-right: 20px;
}
#arrow__right{
    margin-left: 30px;
    transform: rotate(-180deg);
}


.carousel{
    position: absolute;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    width: 225px;
    margin: auto 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 0;
    animation-fill-mode: forwards !important;
}
.first{
    left: 0;
}
.before{
    left: 50px;
}
.active{
    width: 450px;
    height: 300px;
    left: 95px;
    z-index: 200;
}
.after{
    left: 250px;
}
.last{
    left: 425px;
}

.before, .after{
    height: 230px;
    width: 345px;
    z-index: 100;
}
#indicator{
    display: flex;
    flex-direction: row;
}
#indicator__container{
    width: max-content;
    margin: 30px auto auto;
}
.circle{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    opacity: 0.5;
    background-color: #999999;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.current{
    opacity: 1;
    background-color: #F4C827;
}
@media only screen and (max-width: 600px) {
    #carousel{
        width: 370px;
    }
    .active{
        width: 330px;
        height: 220px;
        left: 15px;
        z-index: 200;
    }
    .before{
        left: 5px;
    }
    .after{
        left: 60px;
    }
    .before, .after{
        height: 200px;
        width: 300px;
        z-index: 100;
    }
    .first{
        left: 0;
    }
    .last{
        left: 145px;
    }
    .first, .last{
        height: 150px;
        width: 225px;
    }
    .circle{
        width: 20px;
        height: 20px;
    }
    #indicator{
        margin: 0;
    }
    .arrow{
        height: 25px;
    }
    #indicator__container{
        margin-top: -20px;
    }

}
